@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.logo-sidebar {
  height: 19px;
  width: auto;
  line-height: 70px;
}

.css-zxdg2z {
  padding: 0 !important;
}

.css-1ygil4i-MuiToolbar-root {
  padding: 0 !important;
}

@media (min-width: 600px) {
  .css-1ygil4i-MuiToolbar-root {
    padding: 0 !important;
  }
}

.bg-icon-modal {
  background: #32394e;
  width: 72px;
  height: 72px;
}

.text-xs {
  font-size: 13px;
  line-height: 20px;
}

.text-sm {
  font-size: 14px;
  line-height: 17px;
}

.text-2xl {
  font-size: 23px;
}

.text-min-chat {
  font-size: 11px;
}

.time-chat {
  font-size: 12px;
}

.name-user-chat {
  font-size: 15px;
  line-height: 18px;
}

.text-err-auth {
  font-size: 10px;
  line-height: 16px;
}

.logo-auth {
  height: 18px;
  width: auto;
}

.avt-henry {
  width: 72px;
  height: 72px;
}

.text-view-more {
  font-size: 11px;
  line-height: 17px;
}

.text-icon-social {
  font-size: 15px;
  line-height: 18px;
}
