@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shafarik&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo-sidebar {
  height: 19px;
  width: auto;
  line-height: 70px;
}

.css-zxdg2z {
  padding: 0 !important;
}

.css-1ygil4i-MuiToolbar-root {
  padding: 0 !important;
}

@media (min-width: 600px) {
  .css-1ygil4i-MuiToolbar-root {
    padding: 0 !important;
  }
}
